<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand" href="#"
      ><b>Wisata <span style="color: purple">Labuan Bajo</span></b></a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="index.html"
            >Beranda</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="event.html">Event</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="berita.html">Berita</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Eksplore
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="object-wisata.php"
                >Object Wisata</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="penginapan.php">Penginapan</a>
            </li>
            <li><a class="dropdown-item" href="restoran.php">Restoran</a></li>
            <li>
              <a class="dropdown-item" href="touring-travel.php"
                >Touring Travel</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="visi-misi.html">Visi dan Misi</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
